<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:ерЖth="http://www.w3.org/1999/xhtml">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 10px;}</style>
    <style> table th {color:blue;}</style>
</head>
<body>



</div>
<table data-th-border="2"  >
    <tr>


        <th>NAME</th>
        <th>MAIL</th>
        <th>AGE</th>

    </tr>
    <tr th:each="user : ${users}">

        <td th:text="${user.getName()}">model</td>
        <td th:text="${user.getMail()}">series</td>
        <td th:text="${user.getAge()}" >age</td>
        <td>

            <form th:action="@{/user/id}">
            <button type="submit" th:name="id" th:value="*{user.getId()}">изменить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/user/deleteUser}">
            <button type="submit" th:name="id" th:value="*{user.getId()}">удалить</button>
            </form>
        </td>

    </tr>
    </table>

    <form action="addUser" >
    <button type="submit" >Добавить User</button>

    </form>
</body>
</html>